.vscode/launch.json
.vscode/tasks.json
bin/Debug/net6.0/AnaliseSpotify.deps.json
bin/Debug/net6.0/AnaliseSpotify.dll
bin/Debug/net6.0/AnaliseSpotify.exe
bin/Debug/net6.0/AnaliseSpotify.pdb
bin/Debug/net6.0/AnaliseSpotify.runtimeconfig.json
bin/Debug/net6.0/ref/AnaliseSpotify.dll
obj/AnaliseSpotify.csproj.nuget.dgspec.json
obj/AnaliseSpotify.csproj.nuget.g.props
obj/AnaliseSpotify.csproj.nuget.g.targets
obj/project.assets.json
obj/project.nuget.cache
obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
obj/Debug/net6.0/AnaliseSpotify.AssemblyInfo.cs
obj/Debug/net6.0/AnaliseSpotify.AssemblyInfoInputs.cache
obj/Debug/net6.0/AnaliseSpotify.assets.cache
obj/Debug/net6.0/AnaliseSpotify.csproj.AssemblyReference.cache
obj/Debug/net6.0/AnaliseSpotify.csproj.CoreCompileInputs.cache
obj/Debug/net6.0/AnaliseSpotify.csproj.FileListAbsolute.txt
obj/Debug/net6.0/AnaliseSpotify.dll
obj/Debug/net6.0/AnaliseSpotify.GeneratedMSBuildEditorConfig.editorconfig
obj/Debug/net6.0/AnaliseSpotify.genruntimeconfig.cache
obj/Debug/net6.0/AnaliseSpotify.GlobalUsings.g.cs
obj/Debug/net6.0/AnaliseSpotify.pdb
obj/Debug/net6.0/apphost.exe
obj/Debug/net6.0/ref/AnaliseSpotify.dll
ResultadoAnaliseArtista.txt
ResultadoAnaliseArtistaMessal.txt
ResultadoAnaliseDiariaAMusica.txt
ResultadoAnaliseDiariaArtistaMusica.txt
ResultadoAnaliseMusica.txt
ResultadoAnaliseMusicaMensalTempo.txt
__ResultadoAnaliseArtista.txt
__ResultadoAnaliseMusica.txt
